.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('../../static/resources/background.png');
  background-size: 10%;
  opacity: 0.3;
  z-index: 20;
  pointer-events: none;
  // mix-blend-mode: difference;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  #userCanvas {
  }

  .backBtn {
    color: black;
    position: absolute;
    top: 2rem;
    left: 2rem;
    cursor: pointer;
    z-index: 10;
  }

  img,
  video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    pointer-events: none;
  }
}

.tooltip {
  border-radius: 1.2rem;
  padding: 1.5rem;
  min-width: 10rem;
  position: absolute;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  background-color: white;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}